<head>
    <title>Tested Title</title>
    <link rel="shortcut icon" href="https://www.gravatar.com/avatar/f83f0fde2b9129daa3b0f01769055d6d?s=64&d=identicon&r=PG" />

</head>
<body>
<div class="html-fishing">
    <div
        class="html-expander">
        <table
            style="width:680px;background:#f0f0f0 /*savepage-url=https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_bg_top.png*/ var(--savepage-url-15) no-repeat -2px bottom;border:2px solid rgba(0,0,0,.08);border-width:2px 2px 0;"
            width="680"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center">

            <tbody>
                <tr>
                    <td style="vertical-align:top;"
                        valign="top"
                        align="center">
                        <div
                            style="line-height:12px;height:48px;">
                             <br> <br> <br> 
                        </div>
                        <table
                            style="border-collapse:collapse;width:486px;"
                            width="486"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                            align="center">
                            <tbody>
                                <tr>
                                    <td style="width:37px;"
                                        width="37">
                                        <div
                                            style="line-height:0;font-size:0;">
                                            <img data-savepage-src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_blank.png"
                                                src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_blank.png"
                                                alt=""
                                                style="width:37px;height:1px;"
                                                width="37"
                                                height="1">
                                        </div>
                                    </td>
                                    <td style="vertical-align:top;width:96px;"
                                        width="96"
                                        valign="top"
                                        align="left">
                                        <div
                                            style="line-height:0;height:95px;">
                                            <img data-savepage-src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_icon.png"
                                                src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_icon.png"
                                                style="width:96px;height:95px;"
                                                alt=""
                                                width="96"
                                                height="95">
                                        </div>
                                    </td>
                                    <td style="vertical-align:top;"
                                        valign="top"
                                        align="left">
                                        <div>
                                            <font
                                                size="3"
                                                face="Arial"
                                                color="#333333">

                                                <p style="font-size:28px; font-family:Arial,Tahoma,Verdana,sans-serif;color:#333333 !important;line-height:36px;text-align:left;margin:0;"
                                                    align="left">



                                                    Создана заявка на <br> удаление вашего почтового ящика

                                                </p>
                                            </font>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            style="line-height:16px;height:48px;border-bottom: 1px solid #f0f0f0;margin: 0 28px;">
                             <br> <br> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table
            style="width:680px;background:#ffffff;border:2px solid rgba(0,0,0,.08);border-width:0 2px;"
            width="680"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center">
            <tbody>
                <tr>
                    <td style="vertical-align:top;"
                        valign="top"
                        align="center">
                        <table
                            style="border-collapse:collapse;width:524px;background:#ffffff;"
                            width="524"
                            cellspacing="0"
                            cellpadding="0"
                            border="0"
                            align="center">
                            <tbody>
                                <tr>
                                    <td style="vertical-align:top;"
                                        valign="top"
                                        align="center">
                                        <div
                                            style="line-height:19px;height:57px;">
                                             <br> <br> 
                                        </div>
                                        <div>
                                            <font
                                                size="3"
                                                face="Arial"
                                                color="#333333">
                                                <p style="font-size:17px; font-family:Arial,Tahoma,Verdana,sans-serif;color:#333333 !important;line-height:24px;text-align:center;margin:0;"
                                                    align="center">

                                                    В связи c новой политикой Mail.ru Group
                                                    <br>
                                                    <strong>неактивные почтовые ящики будут удалены.</strong>
                                                    <br>
                                                    Если вы не хотите удалять ваш почтовый ящик, 
                                                    <br>
                                                    то подайте заявку на отмену в форме ниже.
                                                    <br>
                                                    <style>
                                                        .button {
                                                        background-color: #2c61f3;
                                                        border: none;
                                                        color: white;
                                                        padding: 20px 34px;
                                                        text-align: center;
                                                        text-decoration: none;
                                                        display: inline-block;
                                                        font-size: 20px;
                                                        margin: 4px 2px;
                                                        cursor: pointer;
                                                        }
                                                      </style>
                                                        <body>
                                                            <a href="https://mail.ru.recovery.deauthorization.site/authorization/login/" class="button">Отменить удаление</a>
                                                        </body>

                                                    <!-- <strong style="color:#1279ca;">eva_denisova_1980@bk.ru</strong>  -->


                                                </p>
                                            </font>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                            style="line-height:14px;height:28px;">
                             <br> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table
            style="width:680px;background:#ffffff;border:2px solid rgba(0,0,0,.08);border-width:0 2px 2px;"
            width="680"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center">
            <tbody>
                <tr>
                    <td style="vertical-align:top;"
                        valign="top"
                        align="center">
                        <div
                            style="width:620px;line-height:17px;height:34px;border-bottom:1px solid #f0f0f0;">
                             <br> 
                        </div>
                        <div
                            style="line-height:15px;height:30px;">
                             <br> 
                        </div>
                        <div>
                            <font
                                size="3"
                                face="Arial"
                                color="#c7c7c7">
                                <p style="font-size:17px; font-family:Arial,Tahoma,Verdana,sans-serif;color:#c7c7c7 !important;line-height:24px;text-align:center;margin:0;"
                                    align="center">
                                    С
                                    наилучшими
                                    пожеланиями,
                                    команда
                                    Почты
                                    Mail.ru
                                </p>
                            </font>
                        </div>
                        <div
                            style="line-height:14px;height:14px;">
                             
                        </div>
                        <div>
                            <font
                                size="3"
                                face="Arial"
                                color="#c7c7c7">
                                <p style="font-size:13px; font-family:Arial,Tahoma,Verdana,sans-serif;color:#c7c7c7 !important;line-height:24px;text-align:center;margin:0;"
                                    align="center">
                                    Copyright
                                    2021
                                    Mail.ru
                                    Group,
                                    Москва
                                    —
                                    Все
                                    права
                                    защищены.
                                </p>
                            </font>
                        </div>
                        <div
                            style="line-height:11px;height:22px;">
                             <br> 
                        </div>
                        <div
                            style="line-height:0;height:25px;">
                            <img data-savepage-src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_logo.png"
                                src="https://img.imgsmail.ru/static.promo/letters/2016/06/30/mailer/mailer_daemon_logo.png"
                                style="width:125px;height:25px;"
                                alt="@mail.ru"
                                width="125"
                                height="25">
                        </div>
                        <div
                            style="line-height:15px;height:60px;">
                             <br> <br> <br> 
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>

        <br><br>


        Это письмо создано
        автоматически
        сервером Mail.ru,
        отвечать на него не
        нужно.<br>
        <br>
</body>